In [1]:
import pandas as pd

In [2]:
# modelue name: sourcedata
class datasource(object):
    """abstract class for future generalisation to other datasources"""

class datalake(datasource):
    def __init__(self, source='datalake_prod'):
        self.source = source
        self.engine = self.create_engine()
        self.fetch = fetchjob(self.engine)
        
    def create_engine(self):
        engine = 'testengine'
        return engine
        
class fetchjob(object):
    def __init__(self, engine):
        self.__engine = engine # TODO: make invisible
    def ltf(self):
        df = pd.DataFrame({'a': [1,2,3,4], 'b': [3,4,5,6]}, index = pd.date_range('2018-01-15', periods=4))
        return df
    def alloc(self):
        df = pd.DataFrame({'c': [1,2,3,4], 'd': [3,4,5,6]}, index = pd.date_range('2018-01-15', periods=4))
        return df

In [3]:
dl = datalake()
dl

In [4]:
dl.fetch.ltf()

            a  b
2018-01-15  1  3
2018-01-16  2  4
2018-01-17  3  5
2018-01-18  4  6

In [5]:
dl.fetch.alloc()

            c  d
2018-01-15  1  3
2018-01-16  2  4
2018-01-17  3  5
2018-01-18  4  6

In [6]:
dl.engine

'testengine'

In [ ]:
dl.fetch.